<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="category" id="category-menu" class="nav-menu dropdown-menu dropdown-menu-right" >
    <div>
        <!--
            color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
        -->
        <a class="dropdown-item" href="#dashboard-1">
            <i class="material-icons">home</i>&nbsp;TREND
        </a>
        <a class="dropdown-item" href="#schedule-1">
            <i class="material-icons">home</i>&nbsp;NEW
        </a>
        <a class="dropdown-item" href="#tasks-1">
            <i class="material-icons">home</i>&nbsp;OUTER
        </a>
        <a class="dropdown-item" href="#tasks-1">
            <i class="material-icons">home</i>&nbsp;TOP
        </a>
        <a class="dropdown-item" href="#tasks-1">
            <i class="material-icons">home</i>&nbsp;BOTTOM
        </a>
        <a class="dropdown-item" href="#tasks-1">
            <i class="material-icons">home</i>&nbsp;SHOES
        </a>
        <a class="dropdown-item" href="#tasks-1">
            <i class="material-icons">home</i>&nbsp;ACCESSORY
        </a>
        <a class="dropdown-item" href="#tasks-1">
            <i class="material-icons">home</i>&nbsp;EVENT
        </a>
        <a class="dropdown-item" href="#tasks-1">
            <i class="material-icons">home</i>&nbsp;CART
        </a>
    </div>
</div>
</html>