<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="menu-bookmark" id="nav-bookmark">
	    <ul>
	        <li>
	            <a href="#paper" data-rownum="1" class="is-selected">
	                <div class="dot-sub" data-toggle="tooltip" data-placement="right" title="PAPER"></div>
	            </a>
	        </li>
	        <li>
	            <a href="#new" data-rownum="2" class="">
	                <div class="dot-sub" data-toggle="tooltip" data-placement="right" title="NEW"></div>
	            </a>
	        </li>
	        <li>
	            <a href="#trend" data-rownum="3" class="">
	                <div class="dot-sub" data-toggle="tooltip" data-placement="right" title="TREND"></div>
	            </a>
	        </li>
	    </ul>
	</div>
</body>
</html>