<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
<div th:fragment="menubar" class="index-page sidebar-collapse">
    <!-- this is header -->
    <nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-md bg-primary" color-on-scroll="100">
        <div class="menu-container">
            <div class="navbar-translate">
                <a class="navbar-brand" th:href="@{/}">
                	<span class="">VIOLET</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <!--/*  User Role - Management Option  */-->
                    <div th:if="${session.userRole} == 'ROLE_MANAGER'" th:remove="tag">
                    <li class="dropdown nav-item">
                        <a th:href="@{#manager}" class="nav-link" data-toggle="dropdown">
                            <div class="" data-toggle="tooltip" data-placement="bottom" title="MANAGER">
                                <i class="material-icons">verified_user</i>MANAGER
                            </div>
                        </a>
                        <div class="nav-menu dropdown-menu dropdown-menu-right" style="width: 300px; padding: 10px;">
                        	<h6 class="dropdown-header">MANAGER</h6>
                        	<hr style="margin: 5px 0 15px 0;" />
                        	<ul class="navmenu-footer">
                        		<li>
                        			<a th:href="@{#profile}" class="dropdown-item"><i class="material-icons">important_devices</i>&nbsp; Items monitoring</a>
                        		</li>
                        		<li>
                        			<a th:href="@{#profile}" class="dropdown-item"><i class="material-icons">add</i>&nbsp; Add Items</a>
                        		</li>
                        		<li>
                        			<a th:href="@{#settings}" class="dropdown-item"><i class="material-icons">check_circle_outline</i>&nbsp; Items Posting</a>
                        		</li>
                        	</ul>
                        </div>
                    </li>
                    </div>
<!--                     <li class="nav-item"> -->
<!--                         <a th:href="@{#category}" class="dropdown nav-link" id="category-menubtn" data-toggle="dropdown"> -->
<!--                             <div class="" data-toggle="tooltip" data-placement="bottom" title="CATEGORY"> -->
<!--                                 <i class="material-icons" style="font-size: 24px;">apps</i> -->
<!--                             </div> -->
<!--                         </a> -->
<!--                         <div th:replace="menu/category :: category"></div> -->
<!--                     </li> -->

					<!--/*  User Login Start  */-->
					<!--/* User is Not Login */-->
					<div th:if="${session.username == null}" th:remove="tag">
                        <li class="nav-item">
                            <a th:href="@{/login.violet}" class="nav-link" data-toggle="tooltip" data-placement="bottom" title="LOGIN" style="font-size: 15px;">
								<i class="material-icons" style="font-size: 25px;">account_circle</i>&nbsp;LOGIN
                            </a>
                        </li>
					</div>
					<!--/* User Login */-->
					<div th:if="${session.username != null}" th:remove="tag">
                        <li class="dropdown nav-item">
                            <a th:href="@{#login.violet}" class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown">
                               	<div th:if="${session.imgThumbnail == null}" th:remove="tag">
                                	<div class="" data-toggle="tooltip" data-placement="bottom" title="LOGIN" style="width: 40px;">
                           				<i class="material-icons" style="font-size: 40px;">account_circle</i>
                           			</div>
                           		</div>
                         		<div th:if="${session.imgThumbnail != null}" th:remove="tag">
     	                      		<div class="profile-photo-small" >
                                    	<img th:src="@{${session.imgThumbnail}}" alt="Circle Image" class="rounded-circle img-fluid" style="width: 40px; height: 40px;">
                                    </div>
                                </div>
                            </a>
                            <!--/* user profile */-->
                            <div class="nav-menu dropdown-menu dropdown-menu-right" style="width: 300px; padding: 10px;">
                            	<ul class="navmenu-header" style="width: 114px; height: 114px;">
                            		<li class="nav-item">
                           				<div th:if="${session.imgThumbnail != null}" th:remove="tag"> 
                           					<img th:src="@{${session.imgThumbnail}}" alt="Circle Image" class="Rounded Image img-fluid" style="width: 114px; height: 114px;">
                           				</div>
                           				<div th:if="${session.imgThumbnail == null}" th:remove="tag">
                           					<i class="material-icons" style="font-size: 114px;">account_circle</i>
                           				</div>
                            		</li>
                            	</ul>
                            	<ul class="navmenu-body">
                            		<li class="navmenu-item-header">
		                            	<h4 class="navmenu-item-name dropdown-header font-weight-bold">[[${session.username}]]</h4>
		                            </li>
		                            <li class="navmenu-item-body">
		                            	<h4 class="navmenu-item-name font-weight-bold">[[${session.name}]]&nbsp;[[${session.userRole == 'ROLE_MANAGER'} ? '매니저' : '고객']]님</h4>
		                            </li>
		                            <li class="navmenu-item-footer">
		                            	<h6 class="navmenu-item-name">V-Point: <font class="text-danger">100P</font></h6>
		                            </li>
                                </ul>
                                <hr style="margin: 5px 0 15px 0;"/>	
                                <ul class="navmenu-footer">
                                	<li>
                                		<a th:href="@{/basket.violet}" class="dropdown-item">
                                			<i class="material-icons">shopping_cart</i>&nbsp;Shooping Basket
                                			&nbsp;&nbsp;<span class="badge badge-pill badge-info">2</span>
                                		</a>
                                	</li>
                                	<li>
                                		<a th:href="@{/favorite.violet}" class="dropdown-item">
                                			<i class="material-icons">favorite</i>&nbsp;Favorite
                                			&nbsp;&nbsp;<span class="badge badge-pill badge-danger">2</span>
                                		</a>
                                	</li>
                                	<li>
                                		<a th:href="@{/orderHisotry.violet}" class="dropdown-item">
                                			<i class="material-icons">credit_card</i>&nbsp;Order History

                                		</a>
                                	</li>
                                	<li>
                                		<a th:href="@{/profile.violet}" class="dropdown-item">
                                			<i class="material-icons">assignment_ind</i>&nbsp;Profile
                                		</a>
                                	</li>
	                               	<li>
	                               		<a th:href="@{/logout.violet}" class="dropdown-item text-danger">
	                               			<i class="material-icons">power_settings_new</i>&nbsp;Log Out
	                               		</a>
	                               	</li>
                                </ul>
                            </div>
                        </li>
                    </div>
                    <!--/*  User Login End  */-->
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>