<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
<div th:fragment="navbar" th:remove="tag">
	<!-- this is header -->
    <nav class="navbar navbar-expand-md sticky-top bg-white nav-shadow">
        <div class="container">
            <ul class="navbar-nav menu-nav">
            	<li class="nav-item col-md-2">
            		<div class="nav-search">
	            		<a class="nav-link">
	            			<i class="fas fa-search"></i>
	            		</a>
            		</div>
            	</li>
            	<li class="nav-item col-md-8">
            		<div class="navbar-brand">
						<a class="nav-link" title="Violet" th:href="@{/}"><span class="text-gradation">Violet</span></a>
					</div>	
            	</li>
            	<!--/* User Login Layout  */-->
            	<li class="nav-item col-md-2">
            		<div class="nav-login">
            			<!--/* User Not Login */-->
		            	<div th:if="${session.username == null}" th:remove="tag">
			            	<a class="nav-link" th:href="@{/login.violet}" data-placement="bottom" title="LOGIN">
								<i class="icon-login fas fa-user-circle" style="color: #292929c4;"></i> <h6 class="text-login">LOGIN</h6>
							</a>
						</div>
		            	<!--/* User Not Login */-->
		            	<!--/* User Login */-->
            			<div th:if="${session.username != null}" th:remove="tag">
		            		<a class="nav-link" id="navbarDropdown" href="#" data-toggle="dropdown" data-placement="bottom" title="LOGIN" aria-haspopup="true" aria-expanded="false">
		            			<div th:if="${session.imgThumbnail == null}" th:remove="tag">
		                        	<i class="icon-login fas fa-user-circle"></i>
		                        </div>
		                        <div th:if="${session.imgThumbnail != null}" th:remove="tag">
		                        	<img th:src="@{${session.imgThumbnail}}" alt="Circle Image" class="rounded-circle img-fluid nav-profile" style="width: 40px; height: 40px;" />
		                        </div>
		                    </a>
		                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
								<div class="dropdown-header">
									<ul class="thumb-header">
										<li class="thumb-img">
											<a href="#">
												<div th:if="${session.imgThumbnail == null}" th:remove="tag">
													<i class="icon-login fas fa-user-circle thumb-img-not"></i>
												</div>
												<div th:if="${session.imgThumbnail != null}" th:remove="tag">
													<div class="thumb-img-profile Rounded Image img-fluid" th:style="'background-image: url(&quot;'+${session.imgThumbnail}+'&quot;);'"></div>
 													<!--/* <img th:src="@{${session.imgThumbnail}}" alt="Circle Image" class="Rounded Image img-fluid" /> not use */-->
												</div>
											</a>
										</li>
									</ul>
									<ul class="thumb-text">
										<li class="thumb-e"><span>[[${session.username}]]</span></li>
										<li class="thumb-n"><h5>[[${session.name}]]</h5></li>
										<li class="thumb-p"><span>V-POINT:</span><span style="color:#DE1A1A">1000</span></li>
									</ul>
								</div>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"><i class="fas fa-shopping-cart"></i><span>Shopping Basket</span><span class="badge badge-pill badge-info">2</span></a>
								<a class="dropdown-item" href="#"><i class="fas fa-heart"></i><span>Favorite</span><span class="badge badge-pill badge-danger">2</span></a>
								<a class="dropdown-item" href="#"><i class="fas fa-book-open"></i><span>Order History</span></a>
								<a class="dropdown-item" th:href="@{/profile.violet}"><i class="fas fa-address-card"></i><span>Profile</span></a>
								<a class="dropdown-item thumb-logout" th:href="@{/logout.violet}"><i class="fas fa-sign-out-alt"></i><span>Log Out</span></a>
		 			        </div>
						</div>
						<!--/* User Login */-->
                    </div>
            	</li>
            	<!--/* User Login Layout  */-->
            </ul>
            <!--/* SUB NavBar Start */-->
			<th:block th:replace="menu/sub-navbar :: sub-navbar"></th:block>
            <!--/* SUB NavBar End */-->
        </div>
    </nav>
</div>
</body>
</html>