@charset "UTF-8";

@import url('../common/fonts.css');


/* GLOBAL */
:root {
    --text-white: #ffffff;
    --text-veronica : #9D25ED;
    --text-richblack : #050609;
    --text-maximum-red : #DE1A1A;
    --text-orange: #f4361e;
    --font-nanumgothic: 'NanumGothic', NanumGothic;
    --font-italianno: 'Italianno', Italianno;
}

a {
    padding: 0;
    margin: 0;
    color: inherit;
    font-family: NanumGothic;
    cursor: pointer;
    border: 0;
}

a:hover {
    color: unset;
    text-decoration: none !important;
}

ul {
	padding: 0;
	margin: 0;
}

li {
    list-style: none;
}


h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto
, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto
, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto
, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto
, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.Rounded {
	border-radius: 10rem;
}

.avoid-clicks {
	pointer-events: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.rounded-circle {
	border-radius: 5rem;
}

.dropdown-divider {
	margin: .5rem .5rem !important;
}

/* LINE Style */
hr.line-bg {
	width: 100%;
    height: 11rem;
    border: 0;
    position: absolute;
}

.carousel-indicators li.active {
	background-color: #f4361e;
}

.carousel-indicators li {
	background-color: rgba(0,0,0,.7);
	width: .8rem;
	height: .8rem;
	border-radius: 1rem;
}

.f-left {
	float: left;
}

.f-right {
	float: right;
}

.f-clear {
	float: none;
	clear: both;
}

/* COLOR */
.bg-gradation {
	background-image: linear-gradient(to right, #05A3E6, #9c27b0);
}

.bg-smoke {
	background-image: linear-gradient(160deg, transparent 40%, #01010f 100%);
}

.bg-ariellessmile {
	background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}

.bg-ripemalinkas {
	background-image: linear-gradient(160deg, #fbebeb 20%, #fd6d80 100%);
}

.bg-deepblue {
	background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.bg-nightfade {
	background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.bg-freshoasis {
	background-image: linear-gradient(to right, #7DE2FC 0%, #B9B6E5 100%);
}

.bg-sugarlollipop {
	background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
}

.text-gradation {
	background: -webkit-linear-gradient(to right, #05A3E6, #9c27b0);
	background: linear-gradient(to right, #05A3E6, #9c27b0);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	color: unset !important;
}

.text-red {
	color: #DE1A1A;
}

.text-richblack {
	color: #050609;	
}

.text-orange {
	color: #f4361e;
}


@media (min-width: 1440px) {
	.container {
	    max-width: 1320px;
	}
}
/* GLOBAL */