<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<th:block th:fragment="footer-layout">
    <footer class="footer bg-dark">
        <div class="container">
        	<ul class="row">
        		<li class="col-md-6">
		            <div class="f-left">
						<a class="footer-link" title="Violet" th:href="@{/}">
							<div class="footer-brand">Violet</div>
						</a>
		            </div>
				</li>
				<li class="col-md-6">
		            <div class="copyright f-right">
		                <script>
		                    document.write(new Date().getFullYear())
		                </script>, made&nbsp;with&nbsp;<i class="far fa-copyright">copyright</i>&nbsp;by
		                <a class="footer-link" title="copyright" th:href="@{/}" target="blank">KMS</a> for a better web.
		            </div>
				</li>
            </ul>
        </div>
    </footer>
</th:block>
</body>
</html>