<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <!--/*  Head Layout  */-->
    <th:block th:replace="layout/head-layout :: head-layout"></th:block>
    <th:block layout:fragment="user-css"></th:block>
</head>
<body>
    <!--/*  Menu Nav Start  */-->
    <div th:replace="menu/navbar :: navbar"></div>
    <!--/*  Menu Nav Start  */-->

    <!--/*  Main Start  */-->
    <div layout:fragment="content"></div>
    <!--/*  Main End  */-->

    <!--/*  Footer Layout  */-->
    <th:block th:replace="layout/footer-layout :: footer-layout"></th:block>

    <!--/*  Common JS Start  */-->
    <script th:src="@{/jQuery-v3.4.1/jQuery.v3.4.1.js}"></script>
	<script th:src="@{/bootstrap-4.1.3-dist/js/bootstrap.min.js}"></script>
	<script th:src="@{/fontawesome-free-5.11.2-web/js/all.min.js}"></script>
	<script th:src="@{/swiper.5.2.1 Release/swiper.min.js}"></script>
	<script th:src="@{/aos-master/aos.js}"></script>
	<script th:src="@{/input-mask/jquery.inputmask.js}"></script>
	<!--/* Action List Layout */-->

	<!--/* Ajax CSRF Filter */-->
	<script type="text/javascript">
		$(document).ready(function() {
	    	var token = $("meta[name='_csrf']").attr("content");
	    	var header = $("meta[name='_csrf_header']").attr("content");
	    	$(function() {
	    	    $(document).ajaxSend(function(e, xhr, options) {
	    	        xhr.setRequestHeader(header, token);
	    	    });
	    	});
	    	
	    	// Animate On Scroll Library
	    	AOS.init();
		});
    </script>
    <!--/*  Common JS End  */-->

    <!--/*  User JS Start  */-->
    <script type="text/javascript" th:src="@{/js/util/alert.js}"></script>
    <th:block layout:fragment="user-js">
    </th:block>
    <!--/*  User JS End  */-->
    
</body> 
</html>