<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main-layout}" >
<head>
    <title>Violet Shop</title>
    
    <!--/*  User Css Start  */-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/list/card-layout.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/login/login.css}" />
    <!--/*  User Css End  */-->
</head>
<body>
    <div layout:fragment="content">
    	 <div class="login-layout bg-gradation">
	       	<div class="container">
	       		<form class="form" method="post" th:action="@{/login.violet}">
		       		<div class="card card-shadow">
		       			<div class="card-header">
		       				<div class="card-brand">
		       					<span class="text-gradation">Violet eCommerce</span>
		       				</div>
		       			</div>
		       			<hr />
	       				<div class="card-body">
	       					<ul class="row">
		       					<li class="col-md-12">
		       						<span class="social-title">Login</span>
		       					</li>
		       				</ul>
	       					<ul class="row">
	       						<li class="input-group">
	       							<label for="username" class="input-label-floating">
		       							<input type="email" id="username" name="username" placeholder="&nbsp;" required />
		       							<span class="input-label"><i class="far fa-envelope"></i>&nbsp;&nbsp;Email</span>
		       							<span class="input-border"></span>
	       							</label>
	       						</li>
	       					</ul>
	       					<ul class="row">
	       						<li class="input-group">
	       							<label for="password" class="input-label-floating">
		       							<input type="password" id="password" name="password" placeholder="&nbsp;" required />
		       							<span class="input-label"><i class="fas fa-lock"></i>&nbsp;&nbsp;Password</span>
		       							<span class="input-border"></span>
	       							</label>
	       						</li>
	       					</ul>
<!--/*	       					
	       					<ul class="row">
	       						<li class="input-group input-remember-me">
	       							<label for="remember-me" class="remember-me-label">
		       							<span class="input-label">Remember Me :</span>
		       							<input type="checkbox" name="remember-me" />
	       							</label>
	       						</li>
	       					</ul>
*/-->
	       					<ul class="row">
	       						<li class="card-btn">
	       							<button type="submit" class="btn">LOGIN</button>
	       						</li>
							</ul>
							<ul class="row">
	       						<li class="col-md-6">
	       							<a th:href="@{/signup.violet}" class="card-link f-left">Register</a>
	       						</li>
	       						<li class="col-md-6">
	       							<a href="#" class="card-link f-right">Forgot&nbsp;Password?</a>
	       						</li>
	       					</ul>
	       				</div>
	       				<hr />
		       			<!--/* Social Login Start */-->
		       			<div class="card-footer">
		       				<ul class="row">
		       					<li class="col-md-12">
		       						<span class="social-title">Social Login</span>
		       					</li>
		       				</ul>
		       				<ul class="row" style="margin-top: .5rem;">
		       					<li class="col-md-4">
		       						<a th:href="@{/login/kakao}" class="card-link">
		       							<img class="social-icon" th:src="@{/img/login/KAKAO_login_Icon.png}" />
		       							<span class="social-text">KAKAO</span>
		       						</a>
		       					</li>
		       					<li class="col-md-4">
		       						<a th:href="@{/login/naver}" class="card-link">
		       							<img class="social-icon" th:src="@{/img/login/NAVER_login_Icon.png}" />
		       							<span class="social-text">NAVER</span>
		       						</a>
		       					</li>
		       					<li class="col-md-4">
		       						<a th:href="@{/login/facebook}" class="card-link">
		       							<img class="social-icon" th:src="@{/img/login/FACEBOOK_login_Icon.png}" />
		       							<span class="social-text">FACEBOOK</span>
		       						</a>
		       					</li>
		       				</ul>
		       			</div>
		       			<!--/* Social Login End */-->
		       		</div>
	       		</form>
	        </div>
        </div>
    </div>
    
    <!--/*  User JS Start  */-->
    <th:block layout:fragment="user-js">
	    <script>
	    	var status = "[[${status == null ? '' : status}]]";
	    	var content = "[[${errMsg == null ? '' : errMsg}]]";
	    	alertCallEvent(status, content);	    
	    </script>
    </th:block>
    <!--/*  User JS End  */-->
    
</body>
</html>