<!DOCTYPE unspecified PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head></head>
<body>
	<!--/* CARD LIST ITEM START */-->
	<div id="carouselcategoryIndicators1" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselcategoryIndicators1" th:attr="data-slide-to=0" class="card-slidebtn active"></li>
			<li data-target="#carouselcategoryIndicators1" th:attr="data-slide-to=1" class="card-slidebtn"></li>
			<li data-target="#carouselcategoryIndicators1" th:attr="data-slide-to=2" class="card-slidebtn"></li>
		</ol>
		<div class="carousel-inner card-shadow">
			<div class="carousel-item active">
				<a href="#">
					<div class="card col-md-12">
						<div class="row">
							<div class="card-header">
								<div class="card-image" th:style="'background-image: url(&quot;./img/item/' + 'studio-2.jpg' + '&quot;);'"></div>
								<div class="colored-shadow" th:style="'background-image: url(&quot;./img/item/' + 'studio-2.jpg' + '&quot;); opacity: 1;'"></div>
							</div>
						</div>
						<div class="row">
							<div class="card-body">
								<div class="card-description">
									<p class="card-title">item1 title</p>
								</div>
							</div>
							<div class="card-footer">
								<span>Creater By <a href="#" class=""><font class="text-orange">COCO</font></a></span>
							</div>
						</div>
					</div>
				</a>
			</div>
			
			<div class="carousel-item">
				<a href="#">
					<div class="card col-md-12">
						<div class="row">
							<div class="card-header">
								<div class="card-image" th:style="'background-image: url(&quot;./img/item/' + 'studio-4.jpg' + '&quot;); background-position: center;'"></div>
								<div class="colored-shadow" th:style="'background-image: url(&quot;./img/item/' + 'studio-4.jpg' + '&quot;); opacity: 1;'"></div>
							</div>
						</div>
						<div class="row">
							<div class="card-body">
								<div class="card-description">
									<p class="card-title">item1 title</p>
								</div>
							</div>
							<div class="card-footer">
								<span>Creater By <a href="#" class=""><font class="text-orange">COCO</font></a></span>
							</div>
						</div>
					</div>
				</a>
			</div>
			
			<div class="carousel-item">
				<a href="#">
					<div class="card col-md-12">
						<div class="row">
							<div class="card-header">
								<div class="card-image" th:style="'background-image: url(&quot;./img/item/' + 'studio-5.jpg' + '&quot;); background-position: center;'"></div>
								<div class="colored-shadow" th:style="'background-image: url(&quot;./img/item/' + 'studio-5.jpg' + '&quot;); opacity: 1;'"></div>
							</div>
						</div>
						<div class="row">
							<div class="card-body">
								<div class="card-description">
									<p class="card-title">item1 title</p>
								</div>
							</div>
							<div class="card-footer">
								<span>Creater By <a href="#" class=""><font class="text-orange">COCO</font></a></span>
							</div>
						</div>
					</div>
				</a>
			</div>
			
		</div>
	</div>
	<!--/* CARD LIST ITEM END */-->
</body>
</html>