    <!--  Page Slide Start  -->
    <div class="main main-raised card-margin">
        <div th:replace="layout/page-slide :: page-slide"/>
    </div>
    <!--  Page Slide End  -->

    <!--  Best Start  -->
    <div class="main main-raised card-margin">
        <div th:replace="layout/product-imgcard-list :: product-imgcard-list"/>
    </div>
    <!--  Best End  -->

    <!--  New Start  -->
    <div class="main main-raised">
        <div th:replace="layout/product-imgcard-list :: product-imgcard-list"/>
    </div>
    <!--  New End  -->
