<div class="related-products">
    <div class="row">
        <!--  Card List Start  -->
        <div class="col-lg-3 col-md-6">
            <div class="card card-product">
                <div class="card-header card-header-image">
                    <a href="#card">
                        <img class="img" src="../assets/img/examples/card-product1.jpg">
                    </a>
                    <div class="colored-shadow" style="background-image: url('../assets/img/examples/card-product1.jpg'); opacity: 1;"></div>
                </div>
                <div class="card-body"> 
                    <h6 class="card-category text-rose">Trending</h6>
                    <h5 class="card-title">
                        <a href="#pablo">[Dolce & Gabbana]</a>
                    </h5>
                </div>
                <div class="card-footer justify-content-between">
                    <div class="price">
                        <h4>$10,459</h4>
                    </div>
                    <div class="stats">
                        <button type="button" rel="tooltip" title="Favorite" class="btn btn-just-icon btn-link btn-rose" data-original-title="Saved to Wishlist">
                            <i class="material-icons text-primary">favorite</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--  Card List End  -->
        <!--  Card List Start  -->
        <div class="col-lg-3 col-md-6">
            <div class="card card-product">
                <div class="card-header card-header-image">
                    <a href="#pablo">
                        <img class="img" src="../assets/img/examples/card-product1.jpg">
                    </a>
                    <div class="colored-shadow" style="background-image: url('../assets/img/examples/card-product1.jpg'); opacity: 1;"></div>
                </div>
                <div class="card-body"> 
                    <h6 class="card-category text-rose">Trending</h6>
                    <h5 class="card-title">
                        <a href="#pablo">[Dolce & Gabbana]</a>
                    </h5>
                </div>
                <div class="card-footer justify-content-between">
                    <div class="price">
                        <h4>$10,459</h4>
                    </div>
                    <div class="stats">
                        <button type="button" rel="tooltip" title="Favorite" class="btn btn-just-icon btn-link btn-rose" data-original-title="Saved to Wishlist">
                            <i class="material-icons text-primary">favorite</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--  Card List End  -->
        <!--  Card List Start  -->
        <div class="col-lg-3 col-md-6">
            <div class="card card-product">
                <div class="card-header card-header-image">
                    <a href="#pablo">
                        <img class="img" src="../assets/img/examples/card-product1.jpg">
                    </a>
                    <div class="colored-shadow" style="background-image: url('../assets/img/examples/card-product1.jpg'); opacity: 1;"></div>
                </div>
                <div class="card-body"> 
                    <h6 class="card-category text-rose">Trending</h6>
                    <h5 class="card-title">
                        <a href="#pablo">[Dolce & Gabbana]</a>
                    </h5>
                </div>
                <div class="card-footer justify-content-between">
                    <div class="price">
                        <h4>$10,459</h4>
                    </div>
                    <div class="stats">
                        <button type="button" rel="tooltip" title="Favorite" class="btn btn-just-icon btn-link btn-rose" data-original-title="Saved to Wishlist">
                            <i class="material-icons text-primary">favorite</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--  Card List End  -->
        <!--  Card List Start  -->
        <div class="col-lg-3 col-md-6">
            <div class="card card-product">
                <div class="card-header card-header-image">
                    <a href="#pablo">
                        <img class="img" src="../assets/img/examples/card-product1.jpg">
                    </a>
                    <div class="colored-shadow" style="background-image: url('../assets/img/examples/card-product1.jpg'); opacity: 1;"></div>
                </div>
                <div class="card-body"> 
                    <h6 class="card-category text-rose">Trending</h6>
                    <h5 class="card-title">
                        <a href="#pablo">[Dolce & Gabbana]</a>
                    </h5>
                </div>
                <div class="card-footer justify-content-between">
                    <div class="price">
                        <h4>$10,459</h4>
                    </div>
                    <div class="stats">
                        <button type="button" rel="tooltip" title="Favorite" class="btn btn-just-icon btn-link btn-rose" data-original-title="Saved to Wishlist">
                            <i class="material-icons text-primary">favorite</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--  Card List End  -->
    </div>
</div>

<!--  Paging Start  -->
<div class="col-md-12">
    <ul class="pagination pagination-primary justify-content-center">
    <!--
        color-classes: "pagination-primary", "pagination-info", "pagination-success", "pagination-warning", "pagination-danger"
    -->
        <li class="page-item"><a href="javascript:void(0);" class="page-link">1</a></li>
        <li class="page-item"><a href="javascript:void(0);" class="page-link">...</a></li>
        <li class="page-item"><a href="javascript:void(0);" class="page-link">5</a></li>
        <li class="page-item"><a href="javascript:void(0);" class="page-link">6</a></li>
        <li class="active page-item"><a href="javascript:void(0);" class="page-link">7</a></li>
        <li class="page-item"><a href="javascript:void(0);" class="page-link">8</a></li>
        <li class="page-item"><a href="javascript:void(0);" class="page-link">9</a></li>
        <li class="page-item"><a href="javascript:void(0);" class="page-link">...</a></li>
        <li class="page-item"><a href="javascript:void(0);" class="page-link">12</a></li>
    </ul>
</div>
<!--  Paging End  -->