<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main-layout}" >
<head>
    <title>Violet Shop</title>

    <!--/*  User Css Start  */-->
    <th:block layout:fragment="user-css">
    </th:block>
    <!--/*  User Css End  */-->
</head>
<body>
    <div layout:fragment="content">
        <!--/*  Main Start  */-->
        <div class="main">
            <div class="section-space"></div>
            <!--/*  Paper Start  */-->
            <div class="cd-section" id="paper">
                <div th:replace="main/paper :: paper"></div>
            </div>
            <!--/*  Paper End  */-->

            <!--/*  Event Start  */-->
            <div class="cd-section" id="new">
                <div th:replace="main/new :: new"></div>
            </div>
            <!--/*  Event End  */-->

            <!--/*  Trend Start  */-->
            <div class="cd-section" id="trend">
                <div th:replace="main/trend :: trend"></div>
            </div>
            <!--/*  Trend End  */-->

            <!--/*  BookMark Start  */-->
            <div th:replace="menu/menu-bookmark :: menu-bookmark"></div>
            <!--/*  BookMark End  */-->
        </div>
        <!--/*  Main End  */-->
    </div>

    <!--/*  User Js Start  */-->
    <th:block layout:fragment="user-js">
    </th:block>
    <!--/*  User Js End  */-->
</body>
</html>