<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="paper" th:remove="tag">
		<div id="carouselPaper" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselPaper" data-slide-to="0" class="active"></li>
				<li data-target="#carouselPaper" data-slide-to="1"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="carousel-img carousel-img-filter d-block" th:style="'background-image: url(&quot;./img/main/paper/' + 'paper_bgImg1.png' + '&quot;);'" alt="1 slide">
						<div class="carousel-text">
							<div class="container">
								<div class="row">
									<h4>상품 설명</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="carousel-img carousel-img-filter d-block" th:style="'background-image: url(&quot;./img/main/paper/' + 'paper_bgImg2.jpg' + '&quot;);'" alt="2 slide">
						<div class="carousel-text">
							<div class="container">
								<div class="row">
									<h4>상품 소개</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselPaper" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselPaper" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</body>
</html>