<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" > 
<head>
</head>
<body>
	<div th:fragment="stylerlist" id="stylerlist" class="styler-layout">
	    <div class="container">
	    	<ul class="row-title">
	    		<li class="paragraph-title"><span>Styler</span></li>
	    		<li class="paragraph-title-text"><span>전문 코디네이터가 추천하는 스타일	</span></li>
	    	</ul>
	    	<ul class="row">
	    		<li class="paragraph-list-more">
	    			<a href="#" class="nav-link"><span>FASHION</span></a>
	    			<a href="#" class="nav-link"><span>BEAUTY</span></a>
	    			<a href="#" class="nav-link"><span>LIFE</span></a>
	    		</li>
	    	</ul>
			<ul class="row styler-list">
				<li class="col-md-3" data-aos="zoom-in">
					<div class="card card-shadow">
						<a class="card-link" th:href="@{/}">
							<div class="card-image" th:style="'background-image: url(&quot;./img/item/' + 'clem-onojegaw.jpg' + '&quot;); background-position: center;'"></div>
							<div class="colored-shadow" th:style="'background-image: url(&quot;./img/item/' + 'clem-onojegaw.jpg' + '&quot;); opacity: 1;'"></div>
							<div class="card-caption card-gradient-bg">
								<div class="col-md-10 f-left">
									<p class="card-text">item1</p>
								</div>
								<div class="col-md-2 f-right">
									<div class="b-mark" th:style="'background-image: url(&quot;./img/item/' + 'clem-onojegaw.jpg' + '&quot;); background-position: center;'"><span>B</span></div>
								</div>
								<div class="tag-warpper">
									<a class="card-link" th:href="@{/}"><span class="card-tag">#화려함</span></a>
								</div>
							</div>
							
						</a>
					</div>
				</li>
				<li class="col-md-3" data-aos="zoom-in">
					<div class="card card-shadow">
						<a class="card-link" th:href="@{/}">
							<div class="card-image" th:style="'background-image: url(&quot;./img/item/' + 'clem-onojegaw.jpg' + '&quot;); background-position: center;'"></div>
							<div class="colored-shadow" th:style="'background-image: url(&quot;./img/item/' + 'clem-onojegaw.jpg' + '&quot;); opacity: 1;'"></div>
							<div class="card-caption card-gradient-bg">
								<div class="col-md-10 f-left">
									<p class="card-text">item1</p>
								</div>
								<div class="col-md-2 f-right">
									<div class="b-mark" th:style="'background-image: url(&quot;./img/item/' + 'clem-onojegaw.jpg' + '&quot;); background-position: center;'"><span>B</span></div>
								</div>
								<div class="tag-warpper">
									<a class="card-link" th:href="@{/}"><span class="card-tag">#화려함</span></a>
								</div>
							</div>
							
						</a>
					</div>
				</li>
				<li class="col-md-3" data-aos="zoom-in">
					<div class="card card-shadow">
						<a class="card-link" th:href="@{/}">
							<div class="card-image" th:style="'background-image: url(&quot;./img/item/' + 'clem-onojegaw.jpg' + '&quot;); background-position: center;'"></div>
							<div class="colored-shadow" th:style="'background-image: url(&quot;./img/item/' + 'clem-onojegaw.jpg' + '&quot;); opacity: 1;'"></div>
							<div class="card-caption card-gradient-bg">
								<div class="col-md-10 f-left">
									<p class="card-text">item1</p>
								</div>
								<div class="col-md-2 f-right">
									<div class="b-mark" th:style="'background-image: url(&quot;./img/item/' + 'clem-onojegaw.jpg' + '&quot;); background-position: center;'"><span>B</span></div>
								</div>
								<div class="tag-warpper">
									<a class="card-link" th:href="@{/}"><span class="card-tag">#화려함</span></a>
								</div>
							</div>
							
						</a>
					</div>
				</li>
				<li class="col-md-3" data-aos="zoom-in">
					<div class="card card-shadow">
						<a class="card-link" th:href="@{/}">
							<div class="card-image" th:style="'background-image: url(&quot;./img/item/' + 'clem-onojegaw.jpg' + '&quot;); background-position: center;'"></div>
							<div class="colored-shadow" th:style="'background-image: url(&quot;./img/item/' + 'clem-onojegaw.jpg' + '&quot;); opacity: 1;'"></div>
							<div class="card-caption card-gradient-bg">
								<div class="col-md-10 f-left">
									<p class="card-text">item1</p>
								</div>
								<div class="col-md-2 f-right">
									<div class="b-mark" th:style="'background-image: url(&quot;./img/item/' + 'clem-onojegaw.jpg' + '&quot;); background-position: center;'"><span>B</span></div>
								</div>
								<div class="tag-warpper">
									<a class="card-link" th:href="@{/}"><span class="card-tag">#화려함</span></a>
								</div>
							</div>
							
						</a>
					</div>
				</li>
			</ul>
			<ul class="row styler-list">
				<li class="col-md-3" data-aos="zoom-in">
					<div class="card card-shadow">
						<a class="card-link" th:href="@{/}">
							<div class="card-image" th:style="'background-image: url(&quot;./img/item/' + 'clem-onojegaw.jpg' + '&quot;); background-position: center;'"></div>
							<div class="colored-shadow" th:style="'background-image: url(&quot;./img/item/' + 'clem-onojegaw.jpg' + '&quot;); opacity: 1;'"></div>
							<div class="card-caption card-gradient-bg">
								<div class="col-md-10 f-left">
									<p class="card-text">item1</p>
								</div>
								<div class="col-md-2 f-right">
									<div class="b-mark" th:style="'background-image: url(&quot;./img/item/' + 'clem-onojegaw.jpg' + '&quot;); background-position: center;'"><span>B</span></div>
								</div>
								<div class="tag-warpper">
									<a class="card-link" th:href="@{/}"><span class="card-tag">#화려함</span></a>
								</div>
							</div>
							
						</a>
					</div>
				</li>
				<li class="col-md-3" data-aos="zoom-in">
					<div class="card card-shadow">
						<a class="card-link" th:href="@{/}">
							<div class="card-image" th:style="'background-image: url(&quot;./img/item/' + 'clem-onojegaw.jpg' + '&quot;); background-position: center;'"></div>
							<div class="colored-shadow" th:style="'background-image: url(&quot;./img/item/' + 'clem-onojegaw.jpg' + '&quot;); opacity: 1;'"></div>
							<div class="card-caption card-gradient-bg">
								<div class="col-md-10 f-left">
									<p class="card-text">item1</p>
								</div>
								<div class="col-md-2 f-right">
									<div class="b-mark" th:style="'background-image: url(&quot;./img/item/' + 'clem-onojegaw.jpg' + '&quot;); background-position: center;'"><span>B</span></div>
								</div>
								<div class="tag-warpper">
									<a class="card-link" th:href="@{/}"><span class="card-tag">#화려함</span></a>
								</div>
							</div>
							
						</a>
					</div>
				</li>
				<li class="col-md-3" data-aos="zoom-in">
					<div class="card card-shadow">
						<a class="card-link" th:href="@{/}">
							<div class="card-image" th:style="'background-image: url(&quot;./img/item/' + 'clem-onojegaw.jpg' + '&quot;); background-position: center;'"></div>
							<div class="colored-shadow" th:style="'background-image: url(&quot;./img/item/' + 'clem-onojegaw.jpg' + '&quot;); opacity: 1;'"></div>
							<div class="card-caption card-gradient-bg">
								<div class="col-md-10 f-left">
									<p class="card-text">item1</p>
								</div>
								<div class="col-md-2 f-right">
									<div class="b-mark" th:style="'background-image: url(&quot;./img/item/' + 'clem-onojegaw.jpg' + '&quot;); background-position: center;'"><span>B</span></div>
								</div>
								<div class="tag-warpper">
									<a class="card-link" th:href="@{/}"><span class="card-tag">#화려함</span></a>
								</div>
							</div>
						</a>
					</div>
				</li>
				<li class="col-md-3" data-aos="zoom-in">
					<div class="card card-shadow">
						<a class="card-link" th:href="@{/}">
							<div class="card-image" th:style="'background-image: url(&quot;./img/item/' + 'clem-onojegaw.jpg' + '&quot;); background-position: center;'"></div>
							<div class="colored-shadow" th:style="'background-image: url(&quot;./img/item/' + 'clem-onojegaw.jpg' + '&quot;); opacity: 1;'"></div>
							<div class="card-caption card-gradient-bg">
								<div class="col-md-10 f-left">
									<p class="card-text">item1</p>
								</div>
								<div class="col-md-2 f-right">
									<div class="b-mark" th:style="'background-image: url(&quot;./img/item/' + 'clem-onojegaw.jpg' + '&quot;); background-position: center;'"><span>B</span></div>
								</div>
								<div class="tag-warpper">
									<a class="card-link" th:href="@{/}"><span class="card-tag">#화려함</span></a>
								</div>
							</div>
						</a>
					</div>
				</li>
			</ul>
			<ul class="row">
				<button class="btn btn-lg"><span class="btn-styler-text"><i class="fas fa-sync-alt"></i>&nbsp;&nbsp;More</span></button>
			</ul>
	    </div>
	    <!-- Initialize Swiper -->
		<script>
		document.addEventListener("DOMContentLoaded", function(){
			
		});
	  </script>
	</div>
</body>
</html>