<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="trend" id="trendList" class="section section-blog bg-dark">
	    <div class="container">
	        <div class="row">
	            <h2 class="title menu-title"><a th:href="@{/trend.violet}">&nbsp;Trend</a></h2>
	        </div>
	        <div class="row" style="margin-top: 30px;">
	            <!--/*  List Start  */-->
	            <div class="col-md-3">
	                <div class="card">
<!-- 	                	<a th:href="@{/trend.violet}"> -->
		                    <div class="card-header card-header-image">
		                            <img th:src="@{/img/item/card-product1.jpg}" alt="Img" style="height: 400px;"/>
		                    </div>
<!-- 						</a> -->
	                    <div class="card-body">
	                        <div class="card-category text-rose">
	                            <h6>outer</h6>
	                        </div>
	                        <div class="card-title card-title-label-primary"> 
	                            <h4 class="font-weight-bold">
	                                <a th:href="@{'/trend.violet?itemId='}">&nbsp;Gucci Classic</a>
	                            </h4>
	                        </div>
	                        <div class="card-footer">
	                            <div class="text-right">
	                                <a th:href="@{'/favorite.violet?itemId='}" rel="tooltip" title="Favorite" data-original-title="Saved to Wishlist">
	                                    <i class="material-icons text-primary">favorite</i>
	                                </a>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!--/*  List End  */-->
	
	        </div>
	        <div class="justify-content-center" style="display: flex;">
	            <a th:href="@{/trend.violet}" class="btn btn-primary btn-lg">
	                More <i class="material-icons">add</i>
	            </a>
	        </div>
	    </div>
	</div>
</body>
</html>