@charset "UTF-8";

#imagePreview {
	display: inline-block;
	width: 192px;
    height: 192px;
	position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #888888;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

#btn-icon {
	width: 100%;
    height: 100%;
    position: relative;
    border-radius: 100%;
    background-size: cover;
	cursor: pointer;
	text-align: center;
	padding-top: 30px;
	color: #ffffff;
	opacity: 1;
}

#thumbDelete {
	width: 100%;
    height: 100%;
    border-radius: 100%;
    cursor: pointer;
}

#imageUpload {
	opacity: 0;
	position: absolute;
	z-index: -1;
	width: 1px;	
}

.text-thumbnail {
	display: block;
	margin-top: .5rem;
}


/*
icon css call
#imagePreview:before {
	font-family: 'Material Icons';
	top: 0;
	left: 10px;
	font-size: 5rem;
	content: "account_circle";
	
}
*/