<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Violet Shop</title>
</head>
<body>
<div th:fragment="event-information" class="col-md-12">
<textarea class="form-textarea form-control" id="event-information-textarea" rows="8" disabled="disabled">
VIOLET는 개인정보를 안전하게 취급하는데 최선을 다합니다.

1. 목적
VIOLET 서비스 내 이벤트 및 광고 등 마케팅에 활용	

2. 항목
VIOLE계정 프로필에 이용자가 입력한 정보
VIOLET 서비스 이용 내역
VIOLET 서비스 내 구매 및 결제 내역	

3. 보유기간
회원탈퇴 또는 동의철회 시 지체없이 파기

동의를 거부하시는 경우에도 서비스는 이용이 가능합니다.
더 자세한 내용에 대해서는 개인정보처리방침을 참고하시기 바랍니다.


▶︎ 참고 안내문 : (주)카카오
</textarea>
</div>
</body>
</html>