<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Violet Shop</title>
</head>
<body>
<div th:fragment="signup_certification" th:remove="tag">
<div class="profile justify-content-center" style="display: inline-block; margin-bottom: 30px;">
	<div class="card-description text-default">
		<b>편리한 회원가입을 위해 고객님께서 원하시는 인증방법을 선택해 주세요.</b>
		<h6>[ 휴대폰 인증 서비스는 현재 PG사 가입이 원활하지 않아 사용 불가 ]</h6>
	</div>
	<div class="card-circle">
		<a href="#" class="circle-button btn btn-warning btn-lg text-white">
			<i class="material-icons" style="font-size: 5rem; margin: 20px 0 0 0;">phone</i>
			<h6>PHONE Certification</h6>
		</a>
	</div>
	<div class="card-circle">
		<a th:href="@{/emailCert.violet}" class="circle-button btn btn-info btn-lg text-white">
			<i class="material-icons" style="font-size: 5rem; margin: 20px 0 0 0;">email</i>
			<h6>EMAIL Certification</h6>
		</a>
	</div>
	<div class="card-description text-default col-md-9 justify-content-center" style="display: inline-block;">
		<div style="text-align: left">
			<h6>▪︎ 정보통신망법(2012. 08. 18 시행) 제 23조 2(주민번호 사용제한) 규정에 따라 온라인 상 주민번호의 수집/이용을 제한합니다.</h6>
			<h6>▪︎ 입력하신 정보는 본인확인을 위해 서울신용평가정보㈜에 제공되며, 본인확인 용도 외에 사용되거나 저장되지 않습니다.</h6>
		</div>
	</div>
</div>
</div>
</body>
</html>