<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Violet Shop</title>
</head>
<body>
<div th:fragment="signup_detail" th:remove="tag">
<div class="profile">
	<ul class="row">
		<li class="profile-description text-default">
			<b>Violet eCommers 서비스를 이용하기 위해 고객님의 정보를 입력해 주세요.</b>
			<h6>입력하신 정보는 Violet 서비스를 이용하기 위한 용도로만 사용이 됩니다.</h6>
		</li>
	</ul>
	<!--/* Email Start */-->
    <ul class="row">
		<li class="input-group">
			<label for="username" class="input-label-floating">
				<input type="email" id="username" name="username" placeholder="&nbsp;" onkeyup="checkId();" required />
				<span class="input-label"><i class="far fa-envelope"></i>&nbsp;&nbsp;Email</span>
				<span class="input-border"></span>
			</label>
			<span class="input-help">* 이메일 양식에 맞춰서 작성해 주세요. ex) id@email.com</span>
		</li>
	</ul>
	<!--/* Email End */-->
	
	<!--/* Name Start */-->
	<ul class="row">
		<li class="input-group">
			<label for="name" class="input-label-floating">
				<input type="name" id="name" name="name" placeholder="&nbsp;" onkeyup="checkName();" required />
				<span class="input-label"><i class="fas fa-user-circle"></i>&nbsp;&nbsp;Name</span>
				<span class="input-border"></span>
			</label>
			<span class="input-help">* 이름 양식에 맞춰서 작성해 주세요. ex) 홍길동</span>
		</li>
	</ul>
    <!--/* Name End */-->
    
    <!--/* Password Start */-->
    <ul class="row">
		<li class="input-group">
			<label for="password" class="input-label-floating">
				<input type="password" id="password" name="password" placeholder="&nbsp;" onkeyup="checkPassword();" required />
				<span class="input-label"><i class="fas fa-lock"></i>&nbsp;&nbsp;Password</span>
				<span class="input-border"></span>
			</label>
			<span class="input-help">* 패스워드는 대소문자, 특수문자, 숫자 조합으로 작성해 주세요. ex) Sample1!</span>
		</li>
	</ul>
	<!--/* Password End */-->
	
	<!--/* Password-Confirm Start */-->
	<ul class="row">
		<li class="input-group">
			<label for="passwordChk" class="input-label-floating">
				<input type="password" id="passwordChk" name="passwordChk" placeholder="&nbsp;" onkeyup="checkPassword2();" required />
				<span class="input-label"><i class="fas fa-lock"></i>&nbsp;&nbsp;Password Confirm</span>
				<span class="input-border"></span>
			</label>
			<span class="input-help">* 패스워드와 동일하게 작성해 주세요.</span>
		</li>
	</ul>
	<!--/* Password-Confirm End */-->
	   	
	<!--/* phone Start */-->
	<ul class="row">
		<li class="input-group">
			<label for="phone" class="input-label-floating">
				<input type="tel" id="phone" name="phone" placeholder="&nbsp;" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" onkeyup="checkPhone();" required />
				<span class="input-label"><i class="fas fa-phone-alt"></i>&nbsp;&nbsp;Phone</span>
				<span class="input-border"></span>
			</label>
			<span class="input-help">* 휴대폰 번호 양식에 맞춰서 작성해 주세요. ex) 000-0000-0000</span>
		</li>
	</ul>
	<!--/* phone End */-->
</div>
</div>
</body>
</html>