<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userMapper">
 
	<select id="findByUsername" parameterType="Map" resultType="com.violet.web.user.UserEntity">
        SELECT username 
            , password
            , name
            , phone
            , telecom
            , create_date
            , access_date
            , img_thumbnail
            , socialType
        FROM violet_user
        WHERE 1=1
        AND username = #{username}
        AND socialType = #{socialType}
    </select>
    
    <select id="findByUserRole" parameterType="Map" resultType="String">
        SELECT authority
            , role_name
        FROM violet_userrole
        WHERE 1=1
        AND username = #{username}
        AND socialType = #{socialType}
    </select>
    
    <select id="findByUserNameCount" parameterType="Map" resultType="Integer">
		SELECT COUNT(1)
    	FROM violet_user a, violet_userrole b
    	WHERE 1=1
    	AND a.username = b.username
    	AND a.socialType = b.socialType
    	AND a.username = #{username}
    	AND a.socialType = #{socialType}
    </select>
    
    <insert id="signupUser" parameterType="com.violet.web.user.UserEntity">
    	INSERT INTO violet_user (username, password, name, phone, telecom
    							, authority, create_date, access_date
    							, img_thumbnail
    							, isAccountNonExpired, isAccountNonLocked, isCredentialsNonExpired, isEnabled
    							, socialType, socialId)
    	VALUES (#{username}, #{password}, #{name}, #{phone}, #{telecom}
    			, null, TO_CHAR(SYSDATE, 'YYYYMMDD HH24MISS'), TO_CHAR(SYSDATE, 'YYYYMMDD HH24MISS')
    			, #{img_thumbnail}
    			, 'Y', 'Y', 'Y', 'Y'
    			, #{socialType}, #{socialId})
    </insert>
    
    <insert id="signupUserRole" parameterType="com.violet.web.user.UserRoleEntity">
    	INSERT INTO violet_userrole (username, socialType, authority, role_name)
    	VALUES (#{username}, #{socialType}, #{authority}, #{role_name})
    </insert>
    
    <insert id="signupAddr" parameterType="com.violet.web.user.UserAddrEntity">
    	INSERT INTO violet_useraddr (idx, username, socialType, addr_alias, post_code, addr, sub_addr)
    	VALUES (1, #{username}, #{socialType}, #{addr_alias}, #{post_code}, #{addr}, #{sub_addr})
    </insert>
    
    <update id="userAccessDateUpdate" parameterType="Map">
    	UPDATE violet_user
    	SET access_date = TO_CHAR(SYSDATE, 'YYYYMMDD HH24MISS')
    	WHERE 1=1
    	AND username = #{username}
    	AND socialType = #{socialType}
    </update>
    
	<select id="findByUserAddr" parameterType="Map" resultType="com.violet.web.user.UserAddrEntity">
        SELECT idx
        	, username 
            , socialType
            , addr_alias
            , post_code
            , addr
            , sub_addr
        FROM violet_useraddr
        WHERE 1=1
        AND username = #{username}
        AND socialType = #{socialType}
    </select>
    
</mapper>